* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #e0e4eb;
}

input[type="checkbox"] {
    display: none;
}

.box {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 500px;
    transition: .5s;
    height: 60px;
}

.box button {
    position: absolute;
    right: 0;
    width: 60px;
    height: 60px;
    line-height: 60px;
    border-radius: 50%;
    text-align: center;
    color: gray;
    font-size: 23px;
    cursor: pointer;
    transition: .5s;
    box-shadow: none;
    outline: none;
    border: none;
    background-color: #e0e4eb;
    ;
}

.box button:hover {
    box-shadow: -10px -10px 15px #edeff1,
        10px 10px 20px #cacfd8;
    transform: scale(1.1);
}

.box input {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    border-radius: 30px;
    outline: none;
    font-size: 19px;
    padding-left: 20px;
    color: gray;
    box-shadow: -10px -10px 15px #edeff1,
        10px 10px 15px #cacfd8;
    transition: .5s;
    opacity: 1;
}

.box input:focus {
    box-shadow: -10px -10px 40px #edeff1,
        10px 10px 40px #cacfd8;
}

/*#check:checked+.box{
    width: 500px;
}
#check:checked+.box > input{
    opacity: 1;
}
#check:checked+.box > label{
    box-shadow: none;
}
#check:checked+.box > label:hover{
    transform: scale(1);
}*/

.slider {
    position: absolute;
    top: 35%;
    left: 50%;

    transform: translateX(-49%);
    width: 500px;
    transition: .5s;
    height: 60px;
}

#slider {
    width: 490px;
}

.trolltext {
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

.result {
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translateX(-50%);
    align-self: center;
    width: 500px;
    color: gray;
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
}

#image {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.loadertext {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 90%;
    font-size: 600;
}